body {
  padding-top: 25px;
}

.record__amount, .record__date {
  width: 20%;
}

tr {
  width: 100%;
}

.record__description {
  width: 60%;
}

.record:before {
  content: "▶";
  display: 'inline-block';
  width: 1em;
}

.record--is-open:before {
  content: "▼";
}
