<!DOCTYPE html>
<html>
  <head>
    <title>&#xfeff;&#xff22;&#xff55;&#xff44;&#xff47;&#xff45;&#xff54;&#xa0; &#xff30;&#xff4c;&#xff41;&#xff4e;&#xff4e;&#xff45;&#xff52;</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
  </head>

  <body>
    <div class="row">
      <div class="large-8 large-offset-2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
